.container {
    margin: 70px 0;
}

.inputStyles {
    display: block;
    margin: auto;
    border: none;
    font-size: 35px;
    text-align: center;
    border-bottom: 0.5px solid #8ece34;
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    height: 100px;
    width: 90%;
}

.inputStyles:active {
    border-color: tomato;
}

.inputStyles::placeholder {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.add {
    display: block;
    border: none;
    margin: 20px auto;
    padding: 20px 0;
    width: 90%;
    background: #8ece34;
    font-size: 22px;
    border-radius: 5px;
    transition: .3s all ease-in;
    outline: none;
}

.add:active {
    background: tomato;
}

.add:hover {
    cursor: pointer;
    background: tomato;
}

.add:hover .inputStyles {
    border-color:tomato;
}

@media screen and (min-width: 426px) {
    .inputStyles {
        display: inline;
        width: 70%;
        border-radius: 10px 0 0 10px;
        margin-left: 7.5%;
    }
    
    .add {
        display: inline;
        width: 15%;
        padding-top: 40px;
        padding-bottom: 34px;
        border-radius: 0px 10px 10px 0px;
    }
}

@media screen and (min-width: 1440px) {
    .inputStyles {
        font-size: 40px;
    }

    .inputStyles::placeholder {
        font-size: 40px;
    }
    
    .add {
        font-size: 37px;
        padding-top: 28px;
        padding-bottom: 29px;
    }
}