.head_style {
    text-align: center;
    padding: 20px;
    font-size: 3em;
    background: none;
    transform: translateX(-40px);
    margin-top: 9px;
    letter-spacing: 3px;
    font-size: 30px;
}

.logoMerge {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8ece34;
    
}

.logo {
    background: none;
    transform: rotatez(-60deg);
    /* transform: translateX(30px); */
}